/* From Merry */

body{
    background-color: #F9FBFF;
}

.top-head-schedule {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-head-schedule h5 {
    font-family: 'sans serif';
    font-size: 16px;
    color: #2D3748;
    width: 196px;
    height: 19px;
    margin-top: 55px;
    margin-left: 314px;
}

.top-head-schedule-links{
    display: flex; 
    gap: 15px; 
    align-items: center;
    margin-top: 55px; 
    margin-left: 314px;
}

.input-group {
    width: 199px;
    height: 38px;
}

.input-group .btn {
    border-radius: 15px 0 0 15px;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group .form-control {
    border-radius: 0 15px 15px 0;
    border: none;
    border-left: 0;
    background-color: #FFFFFF;
    height: 100%;
    padding: 0 12px;
}

.top-head-schedule-links a {
    color: #718096;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 16px;
}

.top-head-schedule .d-flex i {
    margin-right: 8px;
}

.container-personal-info {
    max-width: 75%;
    height: 263px;
    margin-top: 117px;
    margin-left: 314px;
    border-radius: 15px;
}

.driver-container-personal-info {
    max-width: 75%;
    height: 429px;
    margin-top: 117px;
    margin-left: 314px;
    border-radius: 15px;
}

.bg-white-custom {
    border-radius: 10px;
}

.bg-white-custom h5{
    font-family: 'sans serif';
    font-size: 16px;
    color: #2D3748;
}

.form-row input{
    height: 57px;
}

/* input[type="password"] {
    -webkit-text-security: disc;
} */

.form-group.mt-3 .btn{
    width: 150px;
    color: white;
}

.form-group input{
    border-color: #000000;
}

.schedule-container {
    max-width: 75%;
    height: 600px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 411px;
    margin-left: 314px;
    border-radius: 15px;
}

.driver-schedule-container {
    max-width: 75%;
    height: 812px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 586px;
    margin-left: 314px;
    border-radius: 15px;
}

.schedule-header {
    font-family: 'sans serif';
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: #000000;
}

.search-bar {
    margin-left: auto;
    width: 241px;
}

#search-addon {
    background-color: #F9FBFF;
    border: none;
    border-radius: 15px 0 0 15px;
}

.search-bar .form-control {
    font-family: 'sans serif';
    background-color: #F9FBFF;
    border-radius: 0 15px 15px 0;
    border: none;
    height: 38px;
}

.filter-bar {
    margin-left: 10px;
    width: 241px;
}

.filter-bar .input-group-prepend {
    background-color: #F9FBFF;
    border-radius: 10px 0 0 10px;
    padding: 8px 12px;
    border: none;
    font-family: 'sans serif';
}

.filter-bar .form-select {
    font-family: 'sans serif';
    height: 38px;
    background-color: #F9FBFF;
    border-radius: 0 10px 10px 0;
    border: none;
    font-weight: bold;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'sans serif';
}

.custom-table th {
    color: #B5B7C0;
    border-bottom: 1px solid #DCDCDC;
}

.custom-table tr {
    border-bottom: 1px solid #F1F1F1;
}
.pagination-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.pagination-info{
    color: #B5B7C0;
}

.pagination .page-item {
    display: inline-block;
}

.pagination .page-item .page-link {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #404B52;
    font-family: 'sans serif';
    text-decoration: none;
    background-color: #EEEEEE;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-item .page-link:hover {
    background-color: #f0f0f0;
}

.pagination .page-item .page-link.active-link {
    background-color: #ECB22E;
    border-color: #ECB22E;
    color: #fff;
}

.pagination .pagination-dots {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid transparent;
    color: #000;
}

.form-row a{
    font-family: 'sans serif';
    color: #FEC400;
}

.form-floating-select {
    position: relative;
    margin-bottom: 1rem;
}

.form-floating-select select {
    padding-top: 1.625rem;
    padding-bottom: 0.375rem;
    height: 57px;
    font-family: 'Roboto';
    border-color: #000000;
    color: #000000;
}

.form-floating-select label {
    position: absolute;
    top: 0.375rem;
    left: 0.75rem;
    padding: 0 0.25rem;
    transition: all 0.2s;
    background-color: white;
    pointer-events: none;
    color: #000;
    font-family: 'Roboto';
}

.form-floating-select select:focus + label,
.form-floating-select select:not(:placeholder-shown) + label {
    font-size: 0.75rem;
    top: -0.75rem;
    left: 0.75rem;
    padding: 0 0.25rem;
}

.container-upload-image .card{
    margin-left: 30px;
    border: none;
}

.container-upload-image .upload a,
.container-upload-image .upload i {
    color: #483EA8 !important;
    font-family: 'Mulish';
}

.container-upload-image input{
    border-color: #000000;
}

.container-upload-image textarea{
    border-color: #000000;
}

.container-upload-image .upload{
    border: 3px dashed;
    border-color: #e9e9fc;
    background-color: #F8F8FF;
}

.notification-card{
    margin-left: 40px;
    border: none;
}

.container-upload-image  h5 {
    font-family: 'sans serif';
    font-size: 16px;
    color: #2D3748;
}

.notification-image{
    width: 100px; 
    height: 80px;
    background-color: #D9D9D9;
    margin-right: 70px;
    border: none;
    border-radius: 7px;
}

.notification-date{
    background-color: #DFF1F0;
    border-radius: 3px;
    width: 70px;
}

.notification-card  h5 {
    font-family: 'sans serif';
    font-size: 16px;
    color: #2D3748;
}

.card a{
    width: 73px;
    height: 30px;
}

.btn-dark {
    background-color: #F6CD56; 
    border-color: #F6CD56;
    color: #000;
    font-family: 'sans serif';
    font-weight: bold;
}

.btn-normal {
    background-color: #FCF0CC;
    border-color: #F6CD56;
    color: #000;
    font-family: 'sans serif';
    font-weight: bold;
}

.btn-secondary {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    color: #000;
    font-family: 'sans serif';
    font-weight: bold;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: none;
    border-radius: 15px;
    height: 500px;
}

.card-body {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.card input,
.card select {
    width: 100%;
    height: 57px;
}

.form-group {
    margin-bottom: 15px;
}

.card h5{
    font-family: 'sans serif';
    font-size: 16px;
    color: #2D3748;
    font-weight: bold;
}

/* ************************************** */

.icon i{
    background-color: #F6CD56;
}

.trip-summary h5{
    text-align: left;
    margin-top: 15px;
}

.trip-summary p {
    font-size: 14px;
    color: #A0AEC0;
    text-align: left;
}

.trip-categories {
    display: flex;
    justify-content: space-around;
}

.category {
    font-size: 14px;
    color: #333;
}

.graph {
    background-color: #ECB22E; 
    height: 250px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 10px;          
    box-sizing: border-box; 
}

.card i {
    background-color: #ECB22E;
    color: #FFFFFF;
    width: 30px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    margin-right: 8px;
}

.small-bar {
    height: 4px;
    background-color: #F1F1F1;
    border-radius: 2px;
    margin-top: 5px;
    width: 80px;
}

.bar-fill {
    height: 100%;
    background-color: #FFC107;
    border-radius: 2px;
}

.category-title {
    font-size: 14px;
    color: #A0AEC0;
    font-weight: normal;
}

.category-number {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.category-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.income-graph {
    height: 300px;
}

.card-body p {
    font-size: 14px;
    color: #A0AEC0;
    text-align: left;
}

.income-span{
    color: #FFC107;
}

.dashboard-small-card{
    height: 80px;
}

.card-title {
    font-size: 12px;
    color: #A0AEC0;
}

.card-value {
    font-size: 18px;
    font-weight: bold;
    color: #2D3748;
}

.driver-dashboard-container {
    height: 812px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
}